[
  ( // toplevel
    entity: 1,
    components: [
      // {
      //   "bevy_hierarchy::components::children::Children": ([
      //     2,4,6,8,10,12,14
      //   ]),
      // },
      {
        "bevy_ui::focus::FocusPolicy": Pass,
      },
      {
        "bevy_ui::ui_node::Style": (
          display: Flex,
          position_type: Absolute,
          direction: Inherit,
          flex_direction: ColumnReverse,
          flex_wrap: Wrap,
          align_items: Center,
          align_self: Auto,
          align_content: Center,
          justify_content: FlexStart,
          position: (
            left: Percent(5.0),
            right: Percent(5.0),
            top: Percent(80.0),
            bottom: Percent(2.0),
          ),
          margin: (
            left: Undefined,
            right: Undefined,
            top: Undefined,
            bottom: Undefined,
          ),
          padding: (
            left: Undefined,
            right: Undefined,
            top: Undefined,
            bottom: Undefined,
          ),
          border: (
            left: Undefined,
            right: Undefined,
            top: Undefined,
            bottom: Undefined,
          ),
          flex_grow: 0.0,
          flex_shrink: 0.0,
          flex_basis: Auto,
          size: (
            width: Auto,
            height: Auto,
          ),
          min_size: (
            width: Auto,
            height: Auto,
          ),
          max_size: (
            width: Auto,
            height: Auto,
          ),
          aspect_ratio: None,
          overflow: Visible,
        ),
      },
      {
        "bevy_ui::ui_node::UiImage": ((
          id: Id("6ea26da6-6cf8-4ea2-9986-1d7bf6c17d6f", 13148262314052771789),
        )),
      },
      {
        "bevy_ui::ui_node::UiColor": (Rgba(
          red: 1.0,
          green: 0.0,
          blue: 0.0,
          alpha: 1.0,
        )),
      },
      {
        "gaem::cutscene::DialogueBox": (),
      },
    ],
  ),
]

