[
  ( // main menu toplevel
    entity: 1,
    components: [
      {
        "bevy_hierarchy::components::children::Children": ([
          2,4,6,8
        ]),
      },
      {
        "bevy_ui::focus::FocusPolicy": Pass,
      },
      {
        "bevy_ui::ui_node::Style": (
          display: Flex,
          position_type: Absolute,
          direction: Inherit,
          flex_direction: ColumnReverse,
          flex_wrap: NoWrap,
          align_items: Center,
          align_self: Auto,
          align_content: Center,
          justify_content: FlexStart,
          position: (
            left: Percent(20.0),
            right: Percent(20.0),
            top: Percent(20.0),
            bottom: Percent(20.0),
          ),
          margin: (
            left: Undefined,
            right: Undefined,
            top: Undefined,
            bottom: Undefined,
          ),
          padding: (
            left: Undefined,
            right: Undefined,
            top: Undefined,
            bottom: Undefined,
          ),
          border: (
            left: Undefined,
            right: Undefined,
            top: Undefined,
            bottom: Undefined,
          ),
          flex_grow: 0.0,
          flex_shrink: 1.0,
          flex_basis: Auto,
          size: (
            width: Auto,
            height: Auto,
          ),
          min_size: (
            width: Auto,
            height: Auto,
          ),
          max_size: (
            width: Auto,
            height: Auto,
          ),
          aspect_ratio: None,
          overflow: Visible,
        ),
      },
      {
        "bevy_ui::ui_node::UiImage": ((
          id: Id("6ea26da6-6cf8-4ea2-9986-1d7bf6c17d6f", 13148262314052771789),
        )),
      },
      {
        "bevy_ui::ui_node::UiColor": (Rgba(
          red: 1.0,
          green: 0.0,
          blue: 0.0,
          alpha: 1.0,
        )),
      },
    ],
  ),
  ( // gaem title wrapper area
    entity: 2,
    components: [
      {
        "bevy_hierarchy::components::children::Children": ([
          3,
        ]),
      },
      {
        "bevy_hierarchy::components::parent::Parent": (1),
      },
      {
        "bevy_ui::focus::Interaction": None,
      },
      {
        "bevy_ui::focus::FocusPolicy": Block,
      },
      {
        "bevy_ui::ui_node::Style": (
          display: Flex,
          position_type: Relative,
          direction: Inherit,
          flex_direction: Row,
          flex_wrap: NoWrap,
          align_items: Center,
          align_self: Auto,
          align_content: Center,
          justify_content: Center,
          position: (
            left: Undefined,
            right: Undefined,
            top: Undefined,
            bottom: Undefined,
          ),
          margin: (
            left: Undefined,
            right: Undefined,
            top: Undefined,
            bottom: Undefined,
          ),
          padding: (
            left: Undefined,
            right: Undefined,
            top: Px(4.0),
            bottom: Px(4.0),
          ),
          border: (
            left: Undefined,
            right: Undefined,
            top: Undefined,
            bottom: Undefined,
          ),
          flex_grow: 0.0,
          flex_shrink: 1.0,
          flex_basis: Auto,
          size: (
            width: Percent(100.0),
            height: Auto,
          ),
          min_size: (
            width: Auto,
            height: Auto,
          ),
          max_size: (
            width: Auto,
            height: Auto,
          ),
          aspect_ratio: None,
          overflow: Visible,
        ),
      },
      {
        "bevy_ui::ui_node::UiImage": ((
          id: Id("6ea26da6-6cf8-4ea2-9986-1d7bf6c17d6f", 13148262314052771789),
        )),
      },
      {
        "bevy_ui::ui_node::UiColor": (Rgba(
          red: 1.0,
          green: 0.27,
          blue: 0.0,
          alpha: 1.0,
        )),
      },
    ],
  ),
  ( // gaem title text
    entity: 3,
    components: [
      {
        "bevy_hierarchy::components::parent::Parent": (2),
      },
      {
        "bevy_ui::ui_node::Style": (
          display: Flex,
          position_type: Relative,
          direction: Inherit,
          flex_direction: Row,
          flex_wrap: NoWrap,
          align_items: Stretch,
          align_self: Auto,
          align_content: Stretch,
          justify_content: FlexStart,
          position: (
            left: Undefined,
            right: Undefined,
            top: Undefined,
            bottom: Undefined,
          ),
          margin: (
            left: Undefined,
            right: Undefined,
            top: Undefined,
            bottom: Undefined,
          ),
          padding: (
            left: Undefined,
            right: Undefined,
            top: Undefined,
            bottom: Undefined,
          ),
          border: (
            left: Undefined,
            right: Undefined,
            top: Undefined,
            bottom: Undefined,
          ),
          flex_grow: 0.0,
          flex_shrink: 1.0,
          flex_basis: Auto,
          size: (
            width: Auto,
            height: Auto,
          ),
          min_size: (
            width: Auto,
            height: Auto,
          ),
          max_size: (
            width: Auto,
            height: Auto,
          ),
          aspect_ratio: None,
          overflow: Visible,
        ),
      },
      {
        "gaem::ui::TextProps": (
          value: "This is … GæM!",
          purpose: Heading,
        ),
      },
    ],
  ),
  ( // play game button
    entity: 4,
    components: [
      {
        "bevy_hierarchy::components::parent::Parent": (1),
      },
      {
        "bevy_hierarchy::components::children::Children": ([
          5
        ]),
      },
      {
        "bevy_ui::focus::FocusPolicy": Pass,
      },
      {
        "bevy_ui::ui_node::Style": (
          display: Flex,
          position_type: Relative,
          direction: Inherit,
          flex_direction: ColumnReverse,
          flex_wrap: NoWrap,
          align_items: Center,
          align_self: Auto,
          align_content: Center,
          justify_content: FlexStart,
          position: (
            left: Percent(20.0),
            right: Percent(20.0),
            top: Percent(20.0),
            bottom: Percent(20.0),
          ),
          margin: (
            left: Undefined,
            right: Undefined,
            top: Px(8.0),
            bottom: Px(8.0),
          ),
          padding: (
            left: Px(16.0),
            right: Px(16.0),
            top: Px(16.0),
            bottom: Px(16.0),
          ),
          border: (
            left: Undefined,
            right: Undefined,
            top: Undefined,
            bottom: Undefined,
          ),
          flex_grow: 0.0,
          flex_shrink: 1.0,
          flex_basis: Auto,
          size: (
            width: Percent(25.0),
            height: Auto,
          ),
          min_size: (
            width: Auto,
            height: Auto,
          ),
          max_size: (
            width: Auto,
            height: Auto,
          ),
          aspect_ratio: None,
          overflow: Visible,
        ),
      },
      {
        "bevy_ui::widget::button::Button": (),
      },
      {
        "bevy_ui::ui_node::UiImage": ((
          id: Id("6ea26da6-6cf8-4ea2-9986-1d7bf6c17d6f", 13148262314052771789),
        )),
      },
      {
        "bevy_ui::ui_node::UiColor": (Rgba(
          red: 0.5,
          green: 0.5,
          blue: 0.5,
          alpha: 1.0,
        )),
      },
      {
        "gaem::ui::InteractColors": (
          disabled: Rgba(
            red: 0.6,
            green: 0.6,
            blue: 0.6,
            alpha: 1.0,
          ),
          inactive: Rgba(
            red: 0.5,
            green: 0.5,
            blue: 0.5,
            alpha: 1.0,
          ),
          hover: Rgba(
            red: 0.4,
            green: 0.4,
            blue: 0.4,
            alpha: 1.0,
          ),
        ),
      },
      {
        "gaem::ui::butts::ButtTransition<gaem::AppState>": (
          state: Game,
        ),
      },
    ],
  ),
  ( // play game button text
    entity: 5,
    components: [
      {
        "bevy_hierarchy::components::parent::Parent": (4),
      },
      {
        "bevy_ui::focus::FocusPolicy": Pass,
      },
      {
        "bevy_ui::ui_node::Style": (
          display: Flex,
          position_type: Relative,
          direction: Inherit,
          flex_direction: Row,
          flex_wrap: NoWrap,
          align_items: Stretch,
          align_self: Auto,
          align_content: Stretch,
          justify_content: FlexStart,
          position: (
            left: Undefined,
            right: Undefined,
            top: Undefined,
            bottom: Undefined,
          ),
          margin: (
            left: Undefined,
            right: Undefined,
            top: Undefined,
            bottom: Undefined,
          ),
          padding: (
            left: Undefined,
            right: Undefined,
            top: Undefined,
            bottom: Undefined,
          ),
          border: (
            left: Undefined,
            right: Undefined,
            top: Undefined,
            bottom: Undefined,
          ),
          flex_grow: 0.0,
          flex_shrink: 1.0,
          flex_basis: Auto,
          size: (
            width: Auto,
            height: Auto,
          ),
          min_size: (
            width: Auto,
            height: Auto,
          ),
          max_size: (
            width: Auto,
            height: Auto,
          ),
          aspect_ratio: None,
          overflow: Visible,
        ),
      },
      {
        "gaem::ui::TextProps": (
          value: "Plei GæM!",
          purpose: Heading,
        ),
      },
    ],
  ),
  ( // exit game button
    entity: 6,
    components: [
      {
        "bevy_hierarchy::components::parent::Parent": (1),
      },
      {
        "bevy_hierarchy::components::children::Children": ([
          7
        ]),
      },
      {
        "bevy_ui::focus::FocusPolicy": Pass,
      },
      {
        "bevy_ui::ui_node::Style": (
          display: Flex,
          position_type: Relative,
          direction: Inherit,
          flex_direction: ColumnReverse,
          flex_wrap: NoWrap,
          align_items: Center,
          align_self: Auto,
          align_content: Center,
          justify_content: FlexStart,
          position: (
            left: Percent(20.0),
            right: Percent(20.0),
            top: Percent(20.0),
            bottom: Percent(20.0),
          ),
          margin: (
            left: Undefined,
            right: Undefined,
            top: Px(8.0),
            bottom: Px(8.0),
          ),
          padding: (
            left: Px(16.0),
            right: Px(16.0),
            top: Px(16.0),
            bottom: Px(16.0),
          ),
          border: (
            left: Undefined,
            right: Undefined,
            top: Undefined,
            bottom: Undefined,
          ),
          flex_grow: 0.0,
          flex_shrink: 1.0,
          flex_basis: Auto,
          size: (
            width: Percent(25.0),
            height: Auto,
          ),
          min_size: (
            width: Auto,
            height: Auto,
          ),
          max_size: (
            width: Auto,
            height: Auto,
          ),
          aspect_ratio: None,
          overflow: Visible,
        ),
      },
      {
        "bevy_ui::widget::button::Button": (),
      },
      {
        "bevy_ui::ui_node::UiImage": ((
          id: Id("6ea26da6-6cf8-4ea2-9986-1d7bf6c17d6f", 13148262314052771789),
        )),
      },
      {
        "bevy_ui::ui_node::UiColor": (Rgba(
          red: 0.5,
          green: 0.5,
          blue: 0.5,
          alpha: 1.0,
        )),
      },
      {
        "gaem::ui::InteractColors": (
          disabled: Rgba(
            red: 0.6,
            green: 0.6,
            blue: 0.6,
            alpha: 1.0,
          ),
          inactive: Rgba(
            red: 0.5,
            green: 0.5,
            blue: 0.5,
            alpha: 1.0,
          ),
          hover: Rgba(
            red: 0.4,
            green: 0.4,
            blue: 0.4,
            alpha: 1.0,
          ),
        ),
      },
      {
        "gaem::ui::butts::ButtExit": (),
      },
    ],
  ),
  ( // exit game button text
    entity: 7,
    components: [
      {
        "bevy_hierarchy::components::parent::Parent": (6),
      },
      {
        "bevy_ui::focus::FocusPolicy": Pass,
      },
      {
        "bevy_ui::ui_node::Style": (
          display: Flex,
          position_type: Relative,
          direction: Inherit,
          flex_direction: Row,
          flex_wrap: NoWrap,
          align_items: Stretch,
          align_self: Auto,
          align_content: Stretch,
          justify_content: FlexStart,
          position: (
            left: Undefined,
            right: Undefined,
            top: Undefined,
            bottom: Undefined,
          ),
          margin: (
            left: Undefined,
            right: Undefined,
            top: Undefined,
            bottom: Undefined,
          ),
          padding: (
            left: Undefined,
            right: Undefined,
            top: Undefined,
            bottom: Undefined,
          ),
          border: (
            left: Undefined,
            right: Undefined,
            top: Undefined,
            bottom: Undefined,
          ),
          flex_grow: 0.0,
          flex_shrink: 1.0,
          flex_basis: Auto,
          size: (
            width: Auto,
            height: Auto,
          ),
          min_size: (
            width: Auto,
            height: Auto,
          ),
          max_size: (
            width: Auto,
            height: Auto,
          ),
          aspect_ratio: None,
          overflow: Visible,
        ),
      },
      {
        "gaem::ui::TextProps": (
          value: "Eggsit GæM!",
          purpose: Heading,
        ),
      },
    ],
  ),
  ( // dating button
    entity: 8,
    components: [
      {
        "bevy_hierarchy::components::parent::Parent": (1),
      },
      {
        "bevy_hierarchy::components::children::Children": ([
          9
        ]),
      },
      {
        "bevy_ui::focus::FocusPolicy": Pass,
      },
      {
        "bevy_ui::ui_node::Style": (
          display: Flex,
          position_type: Relative,
          direction: Inherit,
          flex_direction: ColumnReverse,
          flex_wrap: NoWrap,
          align_items: Center,
          align_self: Auto,
          align_content: Center,
          justify_content: FlexStart,
          position: (
            left: Percent(20.0),
            right: Percent(20.0),
            top: Percent(20.0),
            bottom: Percent(20.0),
          ),
          margin: (
            left: Undefined,
            right: Undefined,
            top: Px(8.0),
            bottom: Px(8.0),
          ),
          padding: (
            left: Px(16.0),
            right: Px(16.0),
            top: Px(16.0),
            bottom: Px(16.0),
          ),
          border: (
            left: Undefined,
            right: Undefined,
            top: Undefined,
            bottom: Undefined,
          ),
          flex_grow: 0.0,
          flex_shrink: 1.0,
          flex_basis: Auto,
          size: (
            width: Percent(25.0),
            height: Auto,
          ),
          min_size: (
            width: Auto,
            height: Auto,
          ),
          max_size: (
            width: Auto,
            height: Auto,
          ),
          aspect_ratio: None,
          overflow: Visible,
        ),
      },
      {
        "bevy_ui::widget::button::Button": (),
      },
      {
        "bevy_ui::ui_node::UiImage": ((
          id: Id("6ea26da6-6cf8-4ea2-9986-1d7bf6c17d6f", 13148262314052771789),
        )),
      },
      {
        "bevy_ui::ui_node::UiColor": (Rgba(
          red: 0.5,
          green: 0.5,
          blue: 0.5,
          alpha: 1.0,
        )),
      },
      {
        "gaem::ui::InteractColors": (
          disabled: Rgba(
            red: 0.6,
            green: 0.6,
            blue: 0.6,
            alpha: 1.0,
          ),
          inactive: Rgba(
            red: 0.5,
            green: 0.5,
            blue: 0.5,
            alpha: 1.0,
          ),
          hover: Rgba(
            red: 0.4,
            green: 0.4,
            blue: 0.4,
            alpha: 1.0,
          ),
        ),
      },
      {
        "gaem::ui::butts::ButtTransition<gaem::AppState>": (
          state: Dating,
        ),
      },
    ],
  ),
  ( // dating button text
    entity: 9,
    components: [
      {
        "bevy_hierarchy::components::parent::Parent": (8),
      },
      {
        "bevy_ui::focus::FocusPolicy": Pass,
      },
      {
        "bevy_ui::ui_node::Style": (
          display: Flex,
          position_type: Relative,
          direction: Inherit,
          flex_direction: Row,
          flex_wrap: NoWrap,
          align_items: Stretch,
          align_self: Auto,
          align_content: Stretch,
          justify_content: FlexStart,
          position: (
            left: Undefined,
            right: Undefined,
            top: Undefined,
            bottom: Undefined,
          ),
          margin: (
            left: Undefined,
            right: Undefined,
            top: Undefined,
            bottom: Undefined,
          ),
          padding: (
            left: Undefined,
            right: Undefined,
            top: Undefined,
            bottom: Undefined,
          ),
          border: (
            left: Undefined,
            right: Undefined,
            top: Undefined,
            bottom: Undefined,
          ),
          flex_grow: 0.0,
          flex_shrink: 1.0,
          flex_basis: Auto,
          size: (
            width: Auto,
            height: Auto,
          ),
          min_size: (
            width: Auto,
            height: Auto,
          ),
          max_size: (
            width: Auto,
            height: Auto,
          ),
          aspect_ratio: None,
          overflow: Visible,
        ),
      },
      {
        "gaem::ui::TextProps": (
          value: "Dating!",
          purpose: Heading,
        ),
      },
    ],
  ),
]
